.container{
    margin: 40px;
    position: absolute;
    left:50%;
}

body {
    background-image: url(../images/city.png);
    color: #fff;
}

.navbar{
    text-align: center;
}

.answer{
    margin-left: 5px;
}

.checkbox{
    margin-left: 10px;
}